.login-action-login h1 a {
  background-image: url(login-logo.png);
  background-image:
    linear-gradient(transparent, transparent),
    url(login-logo.svg);
  background-size: 330px 250px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 330px;
  height: 250px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

.login-action-login form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  box-shadow: none;
}

.login-action-login form .input {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}
